/* Reset */
* { box-sizing: border-box; margin: 0; padding: 0; }

:root{
  --navbar-h: 60px;
  --main-color: #f2f5f7;
  --color2: #f9fafc;
  

  --mm-border: #48484928;
  --radius: 8px;

  --max-width: auto;

  --mm-nav-w: 0px;
  --mm-index-w: 220px;

  --main-height: 86vh;

  --big-text: #111111;
  --lil-text: #161616; font-size: 14px; font-weight: 400;
  --link-text: #2b84ff;

  --mm-select: #008cff;
  --mm-highlight: #5eb1ff24;
}


a:hover{
  text-decoration: underline;
}

body{ font-family: 'Roboto Flex', sans-serif; background: var(--main-color); color: var(--mm-text);
}

  .mm-content{
    padding-top: 4px;
    margin: 0 auto;
    backdrop-filter: blur(80px);
    margin-bottom: 0rem;
    z-index: 0;
  }


.navbar{
  background-color: #1a2335;
  border-top: 0px solid #3e485c;
  top: 0; left: 0; right: 0;
  height: var(--navbar-h);
  z-index: 1300;
  display: flex; align-items: center;
  border-bottom: 1px solid var(--mm-border);
  box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0); 

  transform: scaleX(1);  
}

.navbar .navbar-inner{ width: 100%; margin: auto;
  font-size: 13px;
  margin: 1rem;
  max-width:var(--max-width);
  display: flex; align-items: center; gap: 50px;
  padding-left: 2rem; padding-right: 4px;
}

.navbar .brand{ display:flex; align-items:center; text-decoration:none;position: relative;}
.navbar .brand img{height:30px; width: auto; display:block; }
.navbar .brand2{ display:flex; align-items:center; text-decoration:none; position: relative;}
.navbar .brand2 img{ height: 30px; width: auto; display:block; }
.navbar .toplinks{ display:flex; gap: 1rem; margin-right: auto;}


.navbar .toplinks .link{ padding: 16px; 
  text-decoration: none; 
  color: #ffffff;
  border: none; background: none;
}
.navbar .toplinks .link:hover{
  color: #6bb8ff; padding: 16px; 
  border: none; background: none;
  
}

.navbar .toplinks .link {
  display: flex;
  align-items: center;
  gap: 3px;
  
}

.link{
  text-decoration:none;
  background: none;
  cursor: pointer;
  
}

/* Main content area */
.layout-wrapper {
  justify-content: center;
  display: flex;
  align-items: flex-start;
  background-color: var(--main-color);
}

/* Separator */
.mm-sep1{ height:1px; background: var(--mm-border);   max-width: var(--max-width); margin: 0 auto;
margin-bottom: 1rem;}
.mm-sep2{ height:1px; background:var(--mm-border);}
.mm-sep3{ flex: 0 0 1px; height: 26px; align-self: center;  color:var(--mm-border);}
.mm-sep4{ flex: 0 0 1px; height: 16px; align-self: center; background: var(--mm-border);}
.mm-sep5{ height:0px; background:var(--mm-border); margin-bottom: 10px;}
.mm-sep6{ height: var(--main-height); margin-right: 2rem;}
.mm-sep7{ height: var(--main-height); width: 0px; background-color: var(--mm-border);}


/* Hover tooltip */
.mm-tooltip{
  position: fixed; pointer-events:none;
  background-color: #00000047;
  backdrop-filter: blur(15px);
  border: 1px solid #aaaaaa4d;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
  color: #fff;
  font-size: 13px; 
  font-weight:400; 
  padding:1rem;
  opacity:0; transform: translate(12px,12px);
  transition: opacity 120ms ease; z-index:1000;
}
.mm-tooltip.show{ opacity:0.9; }


.viewer-instruction{
  font-size: 12px; color: var(--lil-text); line-height: 1.5rem; 
  margin: 0 auto; padding:1rem 2.4rem;
  justify-content: center;
  max-width: var(--max-width);
  text-align: left;
}
.link-explain{
  font-size: 13px;
  color: var(--lil-text);
  height: var(--notify-h, auto);
  text-align: left;
  align-items: center;
  align-content: left;
  gap: 0.2rem;
  display: flex;

}
.link-explain a{
  text-decoration: none;
  color: var(--link-text);
}
.link-explain a:hover{
  text-decoration: underline;
  color: var(--link-text);
}

/* --------- Viewer --------- */
.viewer{
  flex: 1 1 0;
  display:flex; 
  flex-direction:column; 
  align-items:center;
  justify-content: center;
  margin-top:6px;
  background-color: none;
  min-width: 400px;
}

#anatomical-label {
    position: absolute;
    bottom: 30px; 
    right: 36px;
    color: white; 
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    z-index: 30; /* Keeps it above the 3D model */
    
    /* Crucial for readability over moving 3D elements */
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8); 
    pointer-events: none; /* So users don't accidentally highlight it while dragging */
}

.window {
  position: relative;
  /* CHANGE: Allow viewer to fill remaining width */
  flex-grow: 1;
  overflow: hidden;

    background: #000;
    background-position: center;
    backdrop-filter: blur(40px);
      border-radius: 14px 0px 0px 14px;
      min-height: var(--main-height);

    background-size: 700px;
    

  display: flex; 
  align-items: center; 
  justify-content: center;
}
.viewer-frame{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row; 
  height: var(--main-height);  
  align-items: stretch;
}
.under{ display: flex; align-items: center; width: 100%; justify-content: right; padding-right: 4px;padding-left: 4px;}

.under2{ display: flex; align-items: center; width: 100%; justify-content: left; padding-left: 14px;}
.under2 a{
  text-decoration: none;
  color: var(--link-text);
}

.under p{
  font-size: 14px;
  color: var(--lil-text);
}



/* --- Loading Spinner Overlay --- */
.loader-overlay {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Dark semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50; /* Above canvas (0) but below HUD buttons (100) */
  backdrop-filter: blur(2px);
  transition: opacity 0.3s ease;
}

.loader-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.viewer-hud-right {
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem;
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 0.2rem;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 0.6rem;
}
.window .zoom-btn{
  pointer-events: auto;
  padding: 0.4rem;
  border-radius: 999px;
  border:none; background:none; color:#ffffff;
  display:grid; place-items:center;
  transition: transform 1s ease, box-shadow .5s ease, border-color 1s ease;
}
.zoom-btn:hover{
background-color: var(--mm-highlight);
color: var(--mm-select);
padding: 0.4rem;
cursor: pointer;
}


/* --------- Controls --------- */
.ext_controls{
  width: 60px;
  border-radius: 0px 14px 14px 0px;
  height: var(--main-height);
  margin: 6px 14px 0px 0px;
  padding-top: 14px; 
  padding-right: 2px;
  border: 1px solid var(--mm-border);
  background-color: var(--color2);

  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 14px;
}

.ext_controls-bottom {
  cursor: pointer;
  padding-bottom: 1rem; 
  padding-top: 0.2rem; 
  color: var(--lil-text);
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}

.ext_controls.is-closed .ext_controls-bottom svg {
  transform: rotate(180deg); /* Rotate chevron when closed */
}

.ext_controls label{ display:flex; align-items:left; }
.ext_controls input{ margin-right:10px; }

.mm-sep4 {
  width: 70%;    
  height: 1px;  
  margin-top: 5px;
  background: var(--mm-border);
}


/* --- Rotation Slider --- */
.rotation-controls {
  padding: 30px;
  height: 80px;
  bottom: 0px;     
  display: flex;
  justify-content: center;
  width: inherit;
  width: 800px;
  left: 14px;

  position: absolute;
  z-index: 10;
  background: linear-gradient(to top, #000000c7 70%, #0000000c 100%);
}



#rotation-slider {
  -webkit-appearance:none;
  appearance: none;
  background: transparent;
  width: 60%;     
  cursor: grab;
}
#rotation-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  background: rgba(165, 165, 165, 0.371); /* Your track color */
  border-radius: 3px;
  border: 0.5px solid #b3b3b3;
  margin: 1rem;
}

/* Target the slider thumb (the ball) for Chrome/Safari/Edge */
#rotation-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Required here too */
  appearance: none;
  width: 30px;              /* The little guy is finally bigger */
  height: 12px;
  border-radius:6px;
  border: 1px solid var(--mm-border);
  background: #a7a7a7;
  cursor: grab;
  margin-top: -4px;         /* Keeps him centered on the 2px track */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.00);}

  #rotation-slider::-moz-range-track {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
  }
  #rotation-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background: #ffffff;
    cursor: grab;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  }



/* --- Texture Toggle Styles --- */
.viewer-hud-left {
  right: 0rem;
  font-size: var(--lil-text);
  font-weight: 400;
  pointer-events: auto;
  display: flex;
  align-items: center;
}

.hud-btn{
  background:none;
  display: flex; 
  align-items: center;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  color: var(--lil-text);
  padding: 6px;
}
.hud-btn :hover{
  border: none;
  background: var(--mm-highlight);
  border-radius: 999px;
  color: var(--mm-select);
}








.panel{
  height: var(--main-height);
  width: 400px;
  border: 1px  solid var(--mm-border);
  backdrop-filter: blur(50px);
  background-color: var(--color2);
  border-radius: 0px 14px 14px 0px;
  margin: 6px 14px 0px 0px;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
}

.panel-content {
  padding: 16px;
  overflow-y: auto;
  background-color: #c2c2c200;
  flex-grow: 1;
  padding-top: 6px;
  border-radius: var(--radius);
  border: 0px solid var(--mm-border);
}

.info-grid {
  display: grid;
  align-items: start;
}

.info-text {
  display: flex;
  flex-direction: column;
}
.panel-section{
  display: flex;
  flex-direction: column;
  gap:0px;
}


.panel-header{
  border-radius: 0px 14px 0px 0px;
  border-bottom: 1px solid var(--mm-border);
  padding: 16px 0 14px 18px;

  display: flex;
  align-items: center;

  background-color: none;
  color: #132d5f;
  font-size: 22px;
  font-weight: 620;
}
        .panel-header svg{
          position: absolute;
          color: var(--lil-text);
          right: 16px;
        }
          .panel-header svg:hover{
            position: absolute;
            right: 16px;
            color: var(--mm-select);
            cursor: pointer;
          }



.panel-section h3{line-height: 34px;;font-size: 16px; color: var(--big-text); font-weight: 600;}

.panel-section p{ line-height:24px; color: var(--lil-text);}

#exerciseList{ list-style:none; margin:0; padding:0; }

#exerciseList li{ color: var(--lil-text); display:flex; justify-content:space-between; align-items:center; margin-bottom:8px;}
#exerciseList li a{ color: var(--link-text); text-decoration:none; }
#exerciseList li a:hover{ text-decoration:underline; }


html, body { overflow-x: hidden;}

.left-hand{
  justify-content: center;
  align-items: center;
  max-width: var(--mm-index-w);
  height: var(--main-height);
  background-color: var(--color2);
  border: 1px solid var(--mm-border);
  border-radius: 14px 0px 0px 14px;
  margin: 6px 3px 0px 14px;
}

.upper-items a:hover{
  background-color: #05a82e;
  color: #fff;
  text-decoration: none;
}

.upper-items{
  display: flex;
  flex-direction: column;
  padding:8px;
  gap: 2px;
}

.upper-button{
  align-items: center;
  display: flex;
  gap: 6px;
  transition: 0.1s ease;

  font-size: var(--lil-text);
  font-weight: var(--lil-text);

  text-align: left;
  background: none;
  border: none;
  padding: 8px;
  color: var(--lil-text);
  border-radius: var(--radius);
  text-decoration: none;
}
.upper-button:hover{
  background: var(--mm-highlight);
  border: none;
  padding: 8px;
  color: var(--mm-select);
  cursor: pointer;
}
.upper-button:active{
  background: var(--mm-select);
  border: none;
  padding: 8px;
  color: #fff;
}

.index {
  width: var(--mm-index-w);
  min-width: 190px;
  height : calc(var(--main-height) - 18rem);
  overflow-y: auto;
    font-size: 13px;
    background-color: #eaeaea36;
}

::-webkit-scrollbar {
  display: none;
}

.mi-list {
  border: solid 0px var(--mm-border);
  list-style: none;
}
.mi-list button {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  cursor: pointer;
  color: var(--lil-text);
  display: flex;
  align-items: center;
  padding-left: 12px;
  opacity: 1;
  border-bottom: 1px solid #85858514;
 letter-spacing: normal;
}

.mi-list button:hover {
  color: var(--mm-select);
  background-color: var(--mm-highlight);
}
.mi-list button.is-active {
  border-radius: 1px;
  opacity: 1;
  position: relative;
  background: var(--mm-select);
  color: #fff;
}
.mi-search:focus-within .mm-search-icon{ opacity:1;}


.hover-tog{
  color: var(--lil-text);
right: unset;
  
}

.help-btn{
  align-items: center;
  display: flex;
  gap: 6px;

  font-size: var(--lil-text);
  font-weight: var(--lil-text);

  text-align: left;
  background: none;
  border: none;
  padding: 8px;
  color: var(--lil-text);
  border-radius: var(--radius);
  text-decoration: none;
}
.help-btn:hover{
  background: var(--mm-highlight);
  border: none;
  padding: 8px;
  color: var(--mm-select);
  cursor: pointer;
}
.help-btn:active{
  background: #05a82e;
  border: none;
  padding: 8px;
  color: #fff;
}

.mi-search{
  opacity: 1;
  width: 200px;
  padding: 14px;   

  border-radius: var(--radius); 
  border: none;
  font-size: 14px;
  padding-left: 30px; 
  background: #8f8f8f24;
  border: solid 0px var(--mm-border);
}

.searchy{
  position: absolute;
  align-items: center; 
  justify-content: center;
  align-content: center;
  margin-left: 10px;
}
.searchy svg{
color: var(--lil-text);
}
.searchy:focus-within .mm-search-icon { 
  color: var(--mm-select);
  padding-left: 50px; 
}
.searchy:hover .mm-search-icon { 
  color: var(--mm-select);
  padding-left: 50px; 
  transition: 0.2s ease-in-out;
}
.searchy:hover p{ 
  color: var(--mm-select);
}
.mm-sep9{
  height: 1px;
  background: var(--mm-border);
  margin: 0 auto;
  max-width: var(--max-width);
  margin-top: 4rem;
}
.mm-sep10{
  height: 1px;
  margin-top: 6px;
  margin: 4px;
  background-color: var(--mm-border);
}

.mi-search:hover{
  outline: none;
  opacity: 1;
  padding: 13px;
  border: 1px solid var(--mm-select);   
  background:#97d9ff24;
  transition: 0.5s ease-in-out;
}

.mm-search-icon{
  position: absolute;
  left: 10px; 
  top: 49%; /* Centers it vertically */
  transform: translateY(-50%); 
  pointer-events: none; 
  color: #aaa; /* A muted color for the icon */
  width: 17px;
  height: 17px;
  transition: color 0.2s ease;
}


.soapbox {
  border-top: solid 1px var(--mm-border);
  background-color: #e1e6ea;
  margin-top: 14px;
  font-size: var(--lil-text); 
  color: var(--lil-text); 
  line-height: 1.8rem; 
  text-align: left; /* This is the key change */
  display: flex;
  flex-direction: column;
  gap: 1.4rem; /* This adds space between your paragraphs */
  padding: 3vw;
}
.soapbox p{
 margin: auto;
 align-self: left;
 text-align: left;
 max-width: 74vw;
}
.soapbox a{
  text-decoration: none;
  color: var(--link-text);
}
.soapbox a:hover{
  text-decoration: underline;
  color: #0059ff;
}
.soapbox h1{
  margin-left: 7rem;
  align-self: left;
  max-width: 1400px;
  font-size: 32px;
  color: var(--header-text);
}

.credits{
  font-size: 12px; color: #f0f0f0; text-align: center; line-height: 1.5rem; 
  margin: 0 auto;
}

.credit-box{
  border-top: 1px solid var(--mm-border);
  background-color: #3e485c;
  padding: 2rem;
}
.credit-box a{
  text-decoration: none;
  color: #57aeff;
}
.credit-box a:hover{
  text-decoration: underline;
  color: #95ddfb;
}


.references{
  padding-top: calc(var(--navbar-h) + 2rem);
  font-size: 12px; color: var(--lil-text); text-align: left; line-height: 1.5rem; 
  margin: 0 auto; 
  justify-content: left;
  max-width: var(--max-width);
  background-color: #f8f8f8;
  height: 90vh;
}
.references h2{
  font-size: 13px; color: var(--big-text); text-align: left; line-height: 2rem; 
  margin: 0 auto; 
  font-weight: 500;
  justify-content: left;
  padding-left: 6rem;
}
.ref-links{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  line-height: 2rem;
  padding-left: 6rem;
}
.ref-links2{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  line-height: 2rem;
  padding-left: 6rem;
}


/* --- Frosted Glass Instruction Overlay --- */
.instruction-overlay {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.352);
  backdrop-filter: blur(18px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  border-radius: var(--radius);
}

.instruction-overlay.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.instruction-content {
  max-width: 600px;
  align-items: center;
  text-align: left;
    box-shadow: 1px 0px 80px 0px #000000;
  background-color: #00000039;
   backdrop-filter: blur(50px);
   border-radius: 30px;
}

.instruction-content h3 {
  color:#fff;
  margin-bottom: 1rem;
  font-size: 24px;
}

.instruction-content p {
  display: flex;
  color:#c5c5c5;
  margin-bottom: 1rem;
  font-size: 13px;
  line-height: 1.8;
  
}
.instruction-content svg :hover{
  color: var(--mm-select);
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 1.5;
}


.close-overlay {
  background: #05a82e;
  color: #fff;
  border: none;
  padding: 12px;
  margin-top: 20px;
  width: 500px;
  border-radius: 10px;

  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s ease;
}
.close-overlay:hover{
  background: #0fb939;
  box-shadow: #05a82e39 1px 1px 10px;
}


.atsocials{
  display: flex;
  gap: 10vw;
  padding: 1.2rem;
  justify-content: center;
  background-color: #eef2f5;
  border-top: 1px solid var(--mm-border);
}

.atsocials a{
  display:flex; align-items:center;
  gap: 6px;
 text-decoration: none;
 font-size: 13px;
  color: var(--lil-text);
}

.atsocials a:hover{
  color: var(--mm-select);
}


